* {
    margin: 0;
    padding: 0;
}
body{
	
}
td {
    padding: 50px;
    vertical-align:bottom;
}
.battery {
    position: relative;
    width: 100%;
    height: 100%;
}
.battery li {
    list-style-type: none;
}
.battery .tube {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(360deg, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 100%  );
    background-image: -moz-linear-gradient(360deg, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 100%  );
    z-index: 1000;
}
.battery .tube:before, .battery .tube:after {
    content: '';
    width: -webkit-calc(100% - 4px );
    height: 10%;
    left: -1px;
    bottom: -5%;
    position: absolute;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(360deg, rgba(255,255,255,0.5) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 100%  );
     background-image: -moz-linear-gradient(360deg, rgba(255,255,255,0.5) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 100%  );
    border: 3px solid #D3DFE9;
    border-top: none;
    box-shadow: inset 0px 3px 4px #52585E, 0px 3px 4px -1px #A7AEB2;
    opacity: 0.1;
}
.battery .tube:before {
    top: -6%;
    opacity: 0.8;
}
.battery .liquid {
    position: absolute;
    width: -webkit-calc(100% - 4px );
    height: 100%;
    left: 2px;
    opacity: 0.7;    
    z-index: 1001;
     margin:-2% 0 0 0;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
.battery .liquid div {
    position: relative;
    width: 100%;
    background-image: -webkit-linear-gradient(180deg, rgba(250,250,250,1) 0%,rgba(250,250,250,0.1) 70%,rgba(250,250,250,1) 100%  );
    background-image: -moz-linear-gradient(180deg, rgba(250,250,250,1) 0%,rgba(250,250,250,0.1) 70%,rgba(250,250,250,1) 100%  );    
    bottom:0;       
}
.battery .liquid div.head {
    height: 10%;
    border-radius: 100%;
     margin:-10% 0 0 0;   
    z-index:1002;
}
.battery .liquid div.body {
    height: 50%;
    margin:-10% 0 0 0;   
    -webkit-animation: myfirst 10s linear 0s infinite alternate;
    -moz-animation: myfirst 10s linear 0s infinite alternate;
    z-index:1003;
}
.battery .liquid div.tail {
    height: 10%;
    bottom: -5%;
    border-radius: 100%;
    margin:-15% 0 0 0;
    background-color: rgba(250,250,250,1);
    box-shadow:inset 0 0 10px 1px #333;
    z-index:1004;
}
@-webkit-keyframes myfirst {
    0% { height: 0%; }
    50% { height: 100%; }
    100% { height: 0%; }
}

@-moz-keyframes myfirst {
    0% { height: 0%; }
    50% { height: 100%; }
    100% { height: 0%; }
}
.battery .liquid div.body .drop {
    position: absolute;
    background: rgba(0,0,0,0.2);
    box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25),inset 1px 0px 3px 0px rgba(255, 255, 255, 0.25), inset 0px 1px 3px 0px rgba(255, 255, 255, 0.75),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.15), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 50% 50% 20% 50%;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
}
.battery .liquid div.body .drop.large {
    width: 10px;
    height: 10px;
    left: 40%;
    -webkit-animation: bubbleup 5000ms linear infinite;
    -moz-animation: bubbleup 5000ms linear infinite;
}
.battery .liquid div.body .drop.medium {
    width: 8px;
    height: 8px;
    left: 10%;
    -webkit-animation: bubbleup 9500ms linear infinite;
    -moz-animation: bubbleup 9500ms linear infinite;
}
.battery .liquid div.body .drop.small {
    width: 6px;
    height: 6px;
    left: 70%;
    -webkit-animation: bubbleup 7000ms linear infinite;
    -moz-animation: bubbleup 7000ms linear infinite;
}
@-webkit-keyframes bubbleup
{
    0%   {top:0%; opacity:0; }
    100%  {top:100%; opacity:1;}
}
@-moz-keyframes bubbleup
{
    0%   {top:0%; opacity:0; }
    100%  {top:100%; opacity:1;}
}
.battery .cap {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 5%;
    top: -7%;
    background-image: -webkit-linear-gradient(360deg, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 60%,rgba(0,0,0,1) 90%  );
    background-image: -moz-linear-gradient(360deg, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 60%,rgba(0,0,0,1) 90%  );
    z-index: 11001;
}
.battery .cap:before, .battery .cap:after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -50%;
    position: absolute;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(360deg, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 60%,rgba(0,0,0,1) 90%  );
    background-image: -moz-linear-gradient(360deg, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 60%,rgba(0,0,0,1) 90%  );
}
.battery .cap:before {
    top: -60%;
    background-image: -webkit-linear-gradient(360deg, #989b9b 0%, #989b9b 100%  );
    background-image: -moz-linear-gradient(360deg, #989b9b 0%, #989b9b 100%  );
    box-shadow: inset 0px -1px 10px #000, inset 0px -3px 10px #7f8181;
}
.battery .glitter {
    position: absolute;
    left: 15%;
    width: 60%;
    height: 60%;
    top: 20%;
    background-image: -webkit-linear-gradient(360deg, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0) 40%  );
    background-image: -moz-linear-gradient(360deg, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0) 40%  );
    border-top-right-radius: 100% 30%;
    border-bottom-right-radius: 100% 30%;
    z-index: 1002;
    -webkit-transform: skewY(0deg);
}
.battery .glitter:before, .battery .glitter:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 130%;
    top: -10%;
    right: -30%;
    background-image: -webkit-linear-gradient(180deg, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0) 100%  );
    background-image: -moz-linear-gradient(180deg, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0) 100%  );
    border-top-left-radius: 100% 20%;
    border-bottom-left-radius: 100% 20%;
}
.battery .glitter:before {
    left: 70%;
    width: 15%;
    top: 10%;
    height: 90%;
}
.battery.red .liquid div  {
    background-image: -webkit-linear-gradient(180deg, rgba(250,0,0,1) 0%,rgba(250,0,0,0.1) 70%,rgba(250,0,0,1) 100%  );
    background-image: -moz-linear-gradient(180deg, rgba(250,0,0,1) 0%,rgba(250,0,0,0.1) 70%,rgba(250,0,0,1) 100%  );
}
.battery.red .liquid div.tail {
    background-color: rgba(250,0,0,1);
}
.battery.green .liquid div  {
    background-image: -webkit-linear-gradient(180deg, rgba(0,250,0,1) 0%,rgba(0,250,0,0.1) 70%,rgba(0,250,0,1) 100%  );
    background-image: -moz-linear-gradient(180deg, rgba(0,250,0,1) 0%,rgba(0,250,0,0.1) 70%,rgba(0,250,0,1) 100%  );
}
.battery.green .liquid div.tail {
    background-color: rgba(0,250,0,1);
}
.battery.blue .liquid div  {
    background-image: -webkit-linear-gradient(180deg, rgba(0,0,250,1) 0%,rgba(0,0,250,0.1) 70%,rgba(0,0,250,1) 100%  );
	background-image: -moz-linear-gradient(180deg, rgba(0,0,250,1) 0%,rgba(0,0,250,0.1) 70%,rgba(0,0,250,1) 100%  );
}
.battery.blue .liquid div.tail {
    background-color: rgba(0,0,250,1);
}